@{
    ViewData["Title"] = "Join Cartel";
    var errorMessage = TempData["ErrorMessage"] as string;
}
<div class="account-page">
    @if (errorMessage != null) @* Example usage: User tries to post a review and isn't logged in -> redirect to login / register *@
    {
        <div style="color: #a94442; background-color: #f2dede; border: 1px solid #ebccd1; padding: 15px; border-radius: 4px; text-align: center; margin-bottom: 20px;" role="alert">
            @errorMessage
        </div>
    }
    <div class="container">
        <div class="row">
            <div class="col-2">
                <img src="~/images/Cartel.png" alt="Cartel Logo" style="width: 100%;" />
            </div>
            <div class="col-2">
                <div class="form-container">
                    <div class="form-btn">
                        <span onclick="register()">Register</span>
                        <span onclick="login()">Login</span>
                        <hr id="Indicator" />
                    </div>
                    <!-- Login Form -->
                    <form id="LoginForm" asp-action="Login" asp-controller="Login" method="post">
                        <input type="text" name="Username" placeholder="Username" required />
                        <input type="password" name="Password" placeholder="Password" required />
                        <button type="submit" class="btn">Login</button>
                        <a href="#">Forgot password</a>
                        <div class="help">
                            <strong>Help:</strong>
                            <ul>
                                <li>For Luxe Loom: luxeloom 1111</li>
                                <li>For Paper Charm: paperCharm 2222</li>
                            </ul>
                        </div>
                    </form>
                    <!-- Register Form -->
                    <form id="RegForm" asp-action="Register" asp-controller="Login" method="post">
                        <input type="text" name="CompanyName" placeholder="Company name" required />
                        <input type="email" name="Email" placeholder="Email" required />
                        <input type="text" name="SSN" placeholder="Company SSN" required />
                        <input type="text" name="Username" placeholder="Username" required />
                        <input type="password" name="Password" placeholder="Password" required />
                        <input type="password" name="ConfirmPassword" placeholder="Confirm password" required />
                        <label class="checkbox-inline">
                            <input type="checkbox" id="conditions" name="Conditions" required /> I agree to the terms and conditions
                        </label>
                        <button type="submit" class="btn">Register</button>
                        <div style="background: #d2edd1; text-align:center; justify-content: space-evenly; color: var(--primary-color); border-radius: 4px;">
                            <strong>Rules</strong>
                            <br />
                            <h5>SSN must be 9 numeric characters long</h5>
                            <h5>Username must be at least 4 characters</h5>
                            <h5 style="margin-bottom: 5px;">Password must be at least 8 characters</h5>
                            <br />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/join.js"></script>