@{
    ViewData["Title"] = "About";
}


<!-- About Section with blah blah -->
<div class="container">
    <div class="about">
        <h1>About <span style="color: #3b8e72;">Cartel</span></h1>
        <p class="about-p">
            Welcome to Team Cartel! We’re a team of students
            working together to create something useful and innovative for
            our Information Systems Implementation and Architecture course.
            Our project, Cartel, is an online B2B platform
            designed to help businesses find and purchase the right equipment and
            resources for their needs. We’re aiming to make the process simple, efficient,
            and customizable, offering a broad range of products across different price points.
        </p>
        <p class="about-p">
            This project isn’t just a class assignment for us;
            it’s a collaborative effort where each team member contributes
            skills in coding, design, and problem-solving. Together, we’re building
            a web app that’s as much about learning as it is about achieving results.
        </p>
        <p class="about-p">
            As we progress, we’re eager to grow our skills,
            learn from each other, and share our journey. Thanks for
            visiting, and we hope you enjoy exploring what we’re working on!
        </p>
    </div>
</div>
<!-- End About Section with blah blah -->

<!-- Us Section -->
<div class="about-people">
    <h2>Inside the Cartel</h2>
    <div class="team-grid">
        <!-- Team Member 1 -->
        <div class="team-card">
            <img src="~/Images/about/man.png" alt="Gregory Photo" class="member-photo">
            <h3>Grigorios Alexandrou</h3>
            <p><a href="mailto:alexandrougrigorios@gmail.com">alexandrougrigorios@gmail.com</a></p>
        </div>
        <!-- Team Member 2 -->
        <div class="team-card">
            <img src="~/Images/about/woman.png" alt="Anastasia Photo" class="member-photo">
            <h3>Anastasia Lagopanagiotopoulou</h3>
            <p><a href="mailto:anastasialagopan@gmail.com">anastasialagopan@gmail.com</a></p>
        </div>
        <!-- Team Member 3 -->
        <div class="team-card">
            <img src="~/Images/about/man.png" alt="Member 3 Photo" class="member-photo">
            <h3>Konstantinos Konstantopoulos</h3>
            <p><a href="mailto:kwnstantopouloskwnst@gmail.com">kwnstantopouloskwnst@gmail.com</a></p>
        </div>
        <!-- Team Member 4 -->
        <div class="team-card">
            <img src="~/Images/about/woman.png" alt="Member 4 Photo" class="member-photo">
            <h3>Xara Karachaliou</h3>
            <p><a href="mailto:xarakx77@gmail.com ">xarakx77@gmail.com</a></p>
        </div>
    </div>
</div>
<!-- End Us Section -->
